body{
    color: #333;
    text-align:center; 
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}

a{
    display: block;
}
.top{
    text-align:center;
    padding:400px 0;  
    font-size: 200%;
}


.section {
  padding: 90px 0;
}

.section:nth-of-type(odd) {
  background-color: #f7f7f7;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 40px;
}

.about{
 padding: 6%;
}

.works{
padding: 5%;
margin: 10;
}

  .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: -50px;
  }
  
  .skill-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 48%;
    margin-bottom: 50px;
  }
  
  .skill-img {
    width: 60px;
    height: auto;
    margin-right: 20px;
  }
  
  .skill-body {
    flex: 1;
  }
  
  .skill-name {
    margin-bottom: 10px;
  }
  
  .skill-text {
    font-size: 20px;
    line-height: 1.8;
  }

  .card{
  width: 1000px;
  height: auto;

}
.card__imgframe{
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  background-size: cover;
  box-sizing: border-box;
  
}
.card__textbox{
  width: 100%;
  height: auto;
  padding: 20px 18px;
  background: #ffffff;
  box-sizing: border-box;
}
.card__textbox > * + *{
  margin-top: 10px;
}
.card__titletext{
  font-size: 20px;
  font-weight: bold;
  line-height: 125%;
}
.card__overviewtext{
  font-size: 12px;
  line-height: 150%;
}

.card-skin{
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,.2);
    }
.links{
    padding: 10%;
    margin: 10;
    text-align: center;
    font-size: large;
}


footer{
    background-color: rgb(41, 41, 41);
    width:100%;
    height: 100px;
    bottom: 0;
    margin: 10;
}


*{
    margin:0;
    padding: 0;
  }

  html,　body {
    height: 100%;
  }

  #wrapper {
    width: 100%;
    position:relative;
    min-height: 100%;
  }